<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="cc" class="easyui-layout">
<div data-options="region:'north',title:'标题',split:true" style="height:100px;">

</div>
<div data-options="region:'west',iconCls:'icon-reload',title:'左边',split:true" style="width:300px;height:500px">

    <div id="aa" class="easyui-accordion" data-options="fit:true">
        <ul id="tree1">
        </ul>
    </div>
</div>
<div data-options="region:'center',title:'中间'" style="padding:5px;background:#eee;">
    <div id="centers" class="easyui-tabs" fit=true>
    </div>
</div>
<script src="/javascript/main.js"></script>
</body>
</html>